# Load the development shell using Nix, via one of:
#
# - Lorri https://github.com/nix-community/lorri
# - use flake https://direnv.net/man/direnv-stdlib.1.html#codeuse-flake-ltinstallablegtcode
# - use nix https://direnv.net/man/direnv-stdlib.1.html#codeuse-nix-code
#
# in that order of preference

if has lorri; then
  echo "direnv: loading env from lorri ($(type -p lorri))"
  eval "$(lorri direnv)"
  exit
fi

if has use_flake; then
  echo "direnv: loading env from use_flake"
  use flake
  exit
fi

if has use_nix; then
  echo "direnv: loading env from use_nix"
  use nix
  exit
fi

echo "direnv: failed to load env"
